@charset: "utf-8";

@font-face { font-family: BebasNeue; src: url("http://marketing-candy.com/wp-includes/BebasNeue.otf"); }

html {
	height: 100%;
}

body {
	background: #86d5ed;
	color: #333333;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	height: 100%;
}

p {
	margin-bottom: 20px;
}

/* Begin General Link Styles */

a, a:visited {
	color: #591f00;
	text-decoration: none;
}

a:hover, a:focus {
	color: #4d1b00;
	outline: none;
	text-decoration: underline;
}

a:active {
	color: #78482f;
}

/* End General Link Styles */

/* Begin General Header Styles */

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

/* End General Header Styles */

/* Begin General Form Styles */

label {
	font-family: BebasNeue, Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}

input[type="text"], input[type="password"], select {
	border: none;
	font-size: 18px;
	width: 140px;
}

input[type="checkbox"] {
	vertical-align: middle;
}

/* End General Form Styles */

/* Begin Main Content */

#content {
	background: #ffffff;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 11px;
	width: 958px;
}

/* End Main Content */

/* Begin Header */

header {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/loginheader.png");
	height: 134px;
	margin: 0 auto 20px auto;
	width: 958px;
}

#logo {
	float: left;
	padding-left: 30px;
	padding-top: 30px;
}

#main-nav {
	float: left;
	padding-top: 110px;
}

#main-nav ul {
	list-style: none;
}

#main-nav ul li {
	float: left;
	margin-right: 10px;
}

#main-nav ul:first-child {
	padding-left: 10px;
}

#main-nav ul li a {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/menuarrow.png") no-repeat scroll right center transparent;
	padding: 5px 15px 5px 5px;
}

#main-nav ul li a:hover, #main-nav ul li a:focus {
	background-color: rgba(240, 240, 240, 0.8);
	text-decoration: none;
}

#main-nav ul li a:active {
	background-color: rgba(220, 220, 220, 0.8);
	text-decoration: none;
}

#social {
	float: right;
	padding-right: 30px;
	padding-top: 25px;
	width: 22px;
}

#social a {
	display: block;
	height: 22px;
	margin-bottom: 4px;
	width: 22px;
}

#rss {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/socialicons.png") no-repeat scroll 0 0 transparent;
}

#twitter {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/socialicons.png") no-repeat scroll -22px 0 transparent;
}

#facebook {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/socialicons.png") no-repeat scroll -88px 0 transparent;
}

#linkedin {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/socialicons.png") no-repeat scroll -66px 0 transparent;
}

#rss:hover {
	background-position: 0 -22px;
}

#twitter:hover {
	background-position: -22px -22px;
}

#facebook:hover {
	background-position: -88px -22px;
}

#linkedin:hover {
	background-position: -66px -22px;
}

/* End Header */

/* Begin Sidebar */

#sidebar {
	float: left;
	width: 168px;
}

/* End Sidebar */

/* Begin Main */

#main {
	float: left;
	margin-left: 20px;
	width: 770px;
}

#main h1 {
	text-align: center;
}

/* End Main */

/* Begin Footer */

footer {
	width: 958px;
}

/* End Footer */

/* Begin Registration */

.registration-field-row {
	margin-top: 10px;
	overflow: hidden;
}

.registration-field {
	float: left;
	margin-right: 10px;
	width: 177px;
}

#login.registration {
	background-color: #afe1f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#afe1f4), to(#00aedb)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #afe1f4, #00aedb); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:	 -moz-linear-gradient(top, #afe1f4, #00aedb); /* FF3.6 */
	background-image:	  -ms-linear-gradient(top, #afe1f4, #00aedb); /* IE10 */
	background-image:	   -o-linear-gradient(top, #afe1f4, #00aedb); /* Opera 11.10+ */
	background-image:		  linear-gradient(top, #afe1f4, #00aedb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#afe1f4', EndColorStr='#00aedb'); /* IE6–IE9 */
	color: #591f00;
	padding: 10px;
}

#Form1.registration {
	background-color: #afe1f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#afe1f4), to(#00aedb)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #afe1f4, #00aedb); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:	 -moz-linear-gradient(top, #afe1f4, #00aedb); /* FF3.6 */
	background-image:	  -ms-linear-gradient(top, #afe1f4, #00aedb); /* IE10 */
	background-image:	   -o-linear-gradient(top, #afe1f4, #00aedb); /* Opera 11.10+ */
	background-image:		  linear-gradient(top, #afe1f4, #00aedb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#afe1f4', EndColorStr='#00aedb'); /* IE6–IE9 */
	color: #591f00;
	padding: 10px;
}

/* End Registration */

/* Begin Help Popup */

#help_popup {
	background: #f5b5a9 url(error.png) no-repeat 15px center;
	border: 1px solid #eb5339;
	left: 5px;
	min-height: 16px;
	position: absolute;
	padding: 10px 15px 10px 62px;
	text-align: left;
	top: 5px;
	visibility: hidden;
	width: 300px;
	z-index: 10;
}

#help_header {
	font-weight: bold;
	margin-bottom: 10px;
}

/* End Help Popup */

/* Begin Product Search */

#products-search {
	background-color: #afe1f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#afe1f4), to(#00aedb)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #afe1f4, #00aedb); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:	 -moz-linear-gradient(top, #afe1f4, #00aedb); /* FF3.6 */
	background-image:	  -ms-linear-gradient(top, #afe1f4, #00aedb); /* IE10 */
	background-image:	   -o-linear-gradient(top, #afe1f4, #00aedb); /* Opera 11.10+ */
	background-image:		  linear-gradient(top, #afe1f4, #00aedb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#afe1f4', EndColorStr='#00aedb'); /* IE6–IE9 */
	color: #591f00;
	padding: 7px 43px;
	margin-bottom: 20px;
}

#products-search input[type="submit"] {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/submitbutton.png");
	border: 0;
	color: #591f00;
	font-weight: bold;
	height: 30px;
	margin: 0 10px;
	text-indent: -20px;
	text-transform: uppercase;
	width: 99px;
}

#products-search input[type="submit"]:active {
	color: #ffffff;
}

/* End Product Search */

/* Begin Products */

#added-to-cart {
	background: #e2ff7d url(success.png) no-repeat 15px center;
	border: 1px solid #99c600;
	display: none;
	left: 5px;
	min-height: 16px;
	position: absolute;
	padding: 10px 15px 10px 62px;
	text-align: left;
	top: 5px;
	width: 300px;
	z-index: 10;
}

#added-to-cart-header {
	font-weight: bold;
	margin-bottom: 10px;
}

#products {
	margin: 10px 0;
	overflow: hidden;
}

.product {
	/*float: left;*/
	margin: 10px;
	height: 379px;
	width: 100%; /*236px;*/
}

.product-name {
	margin-bottom: 10px;
}

.product-thumbnail {
	float: left;
    margin: 0 10px 10px 0;
    text-align: center;
	width: 350px;
}

.product-thumbnail img {
	max-height: 300px;
}

.product-description-container {
	float: left;
	width: 410px;
}

.product-pricing th {
	border-bottom: 1px dotted;
	padding: 5px;
	text-align: left;
}

.product-pricing tr th:nth-child(2), .product-pricing tr td:nth-child(2) {
	border-left: 1px dotted;
}

.product-actions {
	background: #afe1f4;
	height: 30px;
	clear: both;
}

.product-checkbox {
	display: none;
	float: left;
	margin-left: 5px;
	margin-top: 8px;
}

.product-checkbox input[type="checkbox"] {
	height: 14px;
	margin-left: 5px;
	width: 14px;
}

.product-quantity {
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

.product-quantity input[type="text"], .product-quantity select {
	margin-left: 5px;
	width: 129px;
}

.product-favorite {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}

.products-add-to-cart {
	float: left;
	margin: 5px 10px;
}

/* End Products */

/* Begin Product Categories */

#product-categories {
	margin: 10px 0;
	overflow: hidden;
}

.product-category {
	float: left;
	margin: 10px;
	width: 236px;
}

.product-category-thumbnail {
	border: 1px solid #86d5ed;
	height: 200px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}

.product-category-thumbnail img {
	max-height: 200px;
}

.product-category-name {
	text-align: center;
}

/* End Product Categories */

/* Begin Orders */

#orders-search {
	background-color: #afe1f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#afe1f4), to(#00aedb)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #afe1f4, #00aedb); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:	 -moz-linear-gradient(top, #afe1f4, #00aedb); /* FF3.6 */
	background-image:	  -ms-linear-gradient(top, #afe1f4, #00aedb); /* IE10 */
	background-image:	   -o-linear-gradient(top, #afe1f4, #00aedb); /* Opera 11.10+ */
	background-image:		  linear-gradient(top, #afe1f4, #00aedb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#afe1f4', EndColorStr='#00aedb'); /* IE6–IE9 */
	color: #591f00;
	padding: 7px 43px;
	margin-bottom: 20px;
}

#orders-search input[type="submit"] {
	background: url("http://host.onlineprintsolutions.com/rosegroup/Files/BrokerBranding/mc/Include/submitbutton.png");
	border: 0;
	color: #591f00;
	font-weight: bold;
	height: 30px;
	margin: 0 10px;
	text-indent: -20px;
	text-transform: uppercase;
	width: 99px;
}

#orders-search input[type="submit"]:active {
	color: #ffffff;
}

#orders {
	width: 100%;
}

#orders img {
	max-height: 20px;
	max-width: 20px;
}

#orders th, #orders td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

#orders tbody tr:nth-child(odd) {
	background: #afe1f4;
}

.order-date {
	width: 100px;
}

.order-cart-number {
	width: 51px;
}

.order-item-number {
	width: 53px;
}

.order-po-number {
	width: 39px;
}

.order-cost {
}

.order-quantity {
}

.order-product-name {
}

.order-status {
}

.order-preview {
	width: 81px;
}

/* End Orders */

/* Begin Cart */

#cart {
	margin-bottom: 20px;
	width: 100%;
}

#cart img {
	border: 0 !important;
	max-height: 20px;
	max-width: 20px;
}

#cart th, td {
	padding: 5px;
	text-align: left;
}

#cart tbody tr:nth-child(odd) {
	background: #afe1f4;
}

.cart-checkbox {
}

.cart-item-number {
}

.cart-date {
}

.cart-quantity {
}

.cart-product-name {
}

.cart-cost {
}

.cart-actions {
}

#delivery {
	background-color: #afe1f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#afe1f4), to(#00aedb)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #afe1f4, #00aedb); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:	 -moz-linear-gradient(top, #afe1f4, #00aedb); /* FF3.6 */
	background-image:	  -ms-linear-gradient(top, #afe1f4, #00aedb); /* IE10 */
	background-image:	   -o-linear-gradient(top, #afe1f4, #00aedb); /* Opera 11.10+ */
	background-image:		  linear-gradient(top, #afe1f4, #00aedb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#afe1f4', EndColorStr='#00aedb'); /* IE6–IE9 */
	color: #591f00;
}

select[name="DeliveryAddress"] {
    width: 450px;
}

/* End Cart */

/* Begin Checkout */

#delivery-details {
	margin-bottom: 20px;
	overflow: hidden;
}

#ordered-by, #deliver-to {
	float: left;
	width: 385px;
}

#checkout {
	margin-bottom: 20px;
	width: 100%;
}

#checkout th, #checkout td {
	padding: 5px;
	text-align: left;
}

#checkout tbody tr:nth-child(odd) {
	background: #afe1f4;
}

#checkout tbody tr:last-child {
	background: #b6c0f6;
}

#checkout-order-details {
	margin-bottom: 20px;
}

/* End Checkout */